body {
  background-color: #b3cffc;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
h1.welcome{
  padding: 20;
  position: relative;
  top: 60px;
  left: 40;
  border-bottom:2px solid white ;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  position: relative;
  overflow: hidden;
  right: 30px;
  left: 30px;
  width: 96%; 
  background-color:#b9d4ff;
  top: 30px;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  position: sticky;
  background-color: #FFF;
  padding: 20px;
  margin: 10px;
}
.content h1 {
  padding: 5;
  margin: 10;
  min-height: 15em;
}
.content li {
  margin-bottom: 10px;
}

.float-container-top {
  width: 95%;
  position: relative;
  top: 20px;
  left: 10px;
  margin-top: 20px;
  height: min-content;
  min-height: 22em;
  color: black;
}
.float-container-bottom {
  color: black;
  position: relative;
  width: 95%;
  top: 60px;
  left: 10px;
  min-height: 22em;
}
.float-container-child-employee {
  width: 58%;
  height: auto;
  min-height: 18em;
  float: left;
  padding: 10px;
  margin: 1em;
  border: 2px solid rgb(169, 169, 169);
  background-color: rgb(255, 255, 255);
}
.float-container-child-employee-child{
  min-width: 40%;
  height: auto;
  min-height: 7em;
  float: left;
  margin: 1em;
  background-color: rgb(255, 255, 255);
}

.float-container-child-manager {
  width: 35%;
  height: auto;
  min-height: 18em;
  float: left;
  padding: 10px;
  margin: 1em;
  border: 2px solid rgb(169, 169, 169);
  background-color: rgb(255, 255, 255);
}



.App {
  text-align: left;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 5px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: white;
  font-family: monospace;
}


